@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

body {
  font-family: 'Comfortaa', cursive;
}

.head {
  text-align: center;
}

.main-notify {
  text-align: center;
}

.modal-gift {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gift-click-btn {
  border: none;
  background: none;
}

.gift-click {
  width: 250px;
}

.next-button {
  border: none;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  background-color: #99EE6B;
  font-family: 'Comfortaa', cursive;
}

.next-button:hover {
  background: linear-gradient(#6beec9, #4ab70f);
}

.gift-block {
  margin: 200px;
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.gift-img {
  width: 250px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
